body{background-image:url("../img/background.jpg"); background-size:100%; font-size: 150%;}
#resume{background-color: rgba(0, 0, 0, 0.8); margin-left:10%; margin-right:10%; font-style:italic; font-family:Consolas; color: white; padding-bottom:50%; padding-top: 10px;}
#resume{padding-left:5%; padding-right:5%;}
#resume img{float:right; background-color:#253177; margin:5%; padding:2%; border-radius:50% 0 50% 0;}

@media(max-width: 600px){
    body{font-size: 14px; background-size:350%}
    #resume img{width: 75%; height: 75%;}
}